services:
  mysql:
    image: mysql:8
    container_name: mysql-db-1
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: afnandb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  app:
    image: ecommerce-backend:latest   # Jenkins builds this
    container_name: ecommerce-app
    restart: always
    ports:
      - "8989:8989"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    build:
      context: "C:/Users/Win11 Pro/Desktop/E-Com-FrontEnd"
    container_name: ecommerce-frontend
    restart: always
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://app:8989
    depends_on:
      - app
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
