  pipeline {
    agent any

    tools {
    maven 'MAVEN_HOME'
    jdk 'JAVA_HOME'
    }

    environment {
    BACKEND_IMAGE = "ecommerce-backend"
    FRONTEND_IMAGE = "ecommerce-frontend"
    }

    stages {
    
    // =========================
    // Checkout Backend
    // =========================
    stage('Checkout Backend') {
    steps {
    dir('backend') {
  git branch: 'main',
                url: 'https://github.com/waseem1234567891/e-com-backend.git'
  }
  }
  }

    // =========================
    // Checkout Frontend
    // =========================
    stage('Checkout Frontend') {
    steps {
    dir('frontend') {
  git branch: 'main',
                url: 'https://github.com/YOUR_USERNAME/e-com-frontend.git'
  }
  }
  }

    // =========================
    // Build Backend
    // =========================
    stage('Build Backend') {
    steps {
    dir('backend') {
    bat 'mvn clean package -DskipTests'
  }
  }
  }

    // =========================
    // Build Backend Image
    // =========================
    stage('Docker Build Backend') {
    steps {
    script {
    def tag = env.BUILD_NUMBER
    dir('backend') {
    bat """
    docker build -t %BACKEND_IMAGE%:${tag} .
    docker tag %BACKEND_IMAGE%:${tag} %BACKEND_IMAGE%:latest
    """
                    }
                }
            }
        }

        // =========================
        // Build Frontend Image
        // =========================
        stage('Docker Build Frontend') {
            steps {
                script {
                    def tag = env.BUILD_NUMBER
                    dir('frontend') {
                        bat """
    docker build -t %FRONTEND_IMAGE%:${tag} .
    docker tag %FRONTEND_IMAGE%:${tag} %FRONTEND_IMAGE%:latest
    """
                    }
                }
            }
        }

        // =========================
        // Deploy
        // =========================
        stage('Deploy with Docker Compose') {
            steps {
                bat """
    docker compose down
    docker compose up -d
    """
  }
  }
  }

    post {
    success {
    echo 'SUCCESS ✔ Backend + Frontend deployed!'
  }
    failure {
    echo 'FAILED ❌ Pipeline failed.'
  }
  }
  }